body {
   align-items: center;
   background-color: #ffffff;
   display: flex;
   justify-content: center;
}
 
.container {
   background-color: #a0a0a083;
   border-radius: 20px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   padding: 20px;
   max-width: 700px;
   margin-top: 20px;
   text-align: center;
   transition: transform 0.3s ease-in-out;

}
.logo {
   margin-bottom: 20px;
   width: 100%;
   text-align: center;
}

.logo img {
   width: 50%;
}
.receiptForm {
   background-color: #ffffff;
   width: 650px;
   padding: 20px;
}

.input-container {
   height: 50px;
   position: relative;
   width: 100%;
   margin-top: 30px;
}
.select-container {
   height: 50px;
   position: relative;
   width: 100%;
   margin-bottom: 50px;
}

.input {
   background-color: #ffffff;
   border: 0;
   border-radius: 12px;
   border-bottom: 2px solid #eee;
   box-sizing: border-box;
   color: #000000;
   font-size: 24px;
   outline: 0;
   height: 100%;
   padding: 4px 20px;
   width: 100%;
}

.input:focus,
.input:not(:placeholder-shown) {
   transform: translateY(2px);
   display: block;
}

.placeholder {
   color: #65657b;
   font-family: sans-serif;
   left: 20px;
   line-height: 14px;
   pointer-events: none;
   position: absolute;
   transform-origin: 0 50%;
   transition: transform 200ms, color 200ms;
   top: 20px;
}

.select-container label {
   display: block;
   font-family: sans-serif;
   margin-bottom: 10px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
   transform: translateY(-38px) translateX(0px) scale(0.85);
}

.input:not(:placeholder-shown) ~ .placeholder {
   color: #000000;
}

.input:focus ~ .placeholder {
   color: #000000;
}

.row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
}

.col {
   flex: 1;
   padding: 15px;
   box-sizing: border-box;
}

select {
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
   background-color: #ffffffd7;
   width: 100%;
   box-sizing: border-box;
}

select:focus {
   border-color: #66afe9;
   outline: none;
   box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}


.submit {
   background-color: #08d;
   border-radius: 12px;
   border: 0;
   box-sizing: border-box;
   color: #eee;
   cursor: pointer;
   font-size: 18px;
   height: 50px;
   margin-top: 38px;
   /* outline: 0; */
   text-align: center;
   width: 100%;
}

.submit:active {
   background-color: #06b;
}
 

/* struck page */
.receipt-container {
   width: 320px;
   background-color: white;
   padding: 20px;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
   font-size: 12px;
   line-height: 1.5;
}

.receipt-header {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 5px;
}

.receipt-header h2 {
   margin: 0;
   font-size: 18px;
}

.receipt-header p {
   margin: 0;
   font-size: 12px;
}

.receipt-details {
   margin-bottom: 10px;
}

.receipt-details table {
   width: 100%;
   border-collapse: collapse;
   /* border: 1px solid; */
}

.receipt-details th {
   padding: 4px 0;
   text-align: left;
   /* border: 1px solid; */
}

.receipt-details th {
   width: 30%;
}

.receipt-details td {
   text-align: left;
}

.divider {
   border-top: 1px dashed #000;
   margin: 10px 0;
}

.receipt-footer {
   text-align: center;
   margin-top: 20px;
   font-size: 14px;
}

.print-button {
   text-align: center;
   margin-top: 20px;
}
.struck-button {
   text-align: center;
   margin-top: 10px;
}

.print-button button {
   width: 100%;
   padding: 10px 20px;
   font-size: 14px;
   cursor: pointer;
   background-color: #e6e6e6;
   color: rgb(0, 174, 255);
   border: none;
   border-radius: 5px;
}
.struck-button button {
   width: 100%;
   padding: 10px 20px;
   font-size: 14px;
   background-color: #e6e6e6;
   cursor: pointer;
   color: rgb(0, 174, 255);
   border: none;
   border-radius: 5px;
}

.print-button button:hover {
   background-color: #027cff;
   color: rgb(0, 0, 0);
}
.struck-button button:hover {
   background-color: #24fc36;
   color: rgb(0, 0, 0);
}

.receipt-time {
   margin-top: 0px;
   font-size: 12px;
   margin-bottom: 10px;
   width: 100%;
   /* border: 1px solid; */
}
.receipt-time td{
   margin-top: 0px;
   font-size: 12px;
   margin-bottom: 10px;
   /* border: 1px solid; */
}
.receipt-total {
   margin-top: 20px;
   font-weight: bold;
   font-size: 16px;
   text-align: right;
}
.num {
   float: right;
}

.receipt-payment {
   margin-bottom: 5px;
   display: none;
}
.receipt-payment table {
   width: 100%;
   border-collapse: collapse;
   /* border: 1px solid; */
}
.receipt-payment th {
   width: 30%;
   text-align: left;
   /* border: 1px solid; */
}
.receipt-payment td {
   margin-top: 0px;
   font-size: 12px;
   margin-bottom: 10px;
   /* border: 1px solid; */
}

.receipt-idVehicle {
   margin-bottom: 5px;
   display: none;
}
.receipt-idVehicle table {
   width: 100%;
   border-collapse: collapse;
   /* border: 1px solid; */
}
.receipt-idVehicle th {
   width: 30%;
   text-align: left;
   /* border: 1px solid; */
}
.receipt-idVehicle td {
   margin-top: 0px;
   font-size: 12px;
   margin-bottom: 10px;
   /* border: 1px solid; */
}

@media print {
  .print-button {
   display: none;
  }
  .struck-button {
   display: none;
  }
}